
form {
  max-width: 500px;
  margin: 0 auto;
  background:whitesmoke;
  color:white;
  border-radius: 4px;
  justify-content: center;
  font-family: "Roboto";
  justify-content:center;
}

.button-main {
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 400px;
}


