.OAuth-button {
   display: flex;
   width: 12.5rem;
   height: 2.5rem;
   color: white;
   margin: 0.5rem;
   padding: 1rem;
   padding-top: 1.25rem;
   padding-right: 0.55rem;
   border-radius: 0.2rem;
   text-decoration: none;
   font-size: 1rem;
   justify-content: flex-end;
   align-items: center;
   background-repeat: no-repeat;
   background-size: auto;
   cursor: pointer;
}

.LinkedIn {
   background-image: url("../../../images/OAuth-Images/LinkedIn-Default.png");
}

.Google {
   background-image: url("../../../images/OAuth-Images/LinkedIn-Default.png");
}

.Github {
   background-image: url("../../../images/OAuth-Images/LinkedIn-Default.png");
}

.Facebook {
   background-image: url("../../../images/OAuth-Images/LinkedIn-Default.png");
}
