form {
    display:flex;
    flex-flow: column wrap;
    max-width: 500px;
    margin: 0 auto;
    background: #45a29e;
    color:white;
    border-radius: 4px;
    justify-content: center;
    font-family: "Roboto";
    justify-content: center;
    align-items:center;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
  }
  
  input {
    width: 200px;
    background:#aaa;
    border-radius:4px;
    justify-content: center;
    text-align: center;
    padding: 16px;
    margin: 11px;
    font-size: 1rem;
  }

  .box {
    background-color: rgba(41, 39, 39, 0.3);
    font-family: "Roboto", sans-serif;
    text-align: center;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height:100%;  
  }

