.reatime2 {
   width: 8rem;
   height: 8rem;
}

.grid-container {
   display: grid;
   grid-template-columns: 200px 1fr;
   grid-template-rows: 50px 1fr;
   grid-template-areas:
      "sidenav header"
      "sidenav main";

   height: 120vh;
}

/* Give every child element its grid name */

aside {
   float: right;
   position: relative;
   background-color: #25274d;
}

.sidenav {
   grid-area: sidenav;
   background-color: #25274d;
}

.main {
   grid-area: main;
   background-color: white;
}

.headertop {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px;
   background-color: white;
   color: #444;
   justify-content: center;
   text-align: center;
}

.sidenav {
   display: block; /* Will be hidden on mobile */
   flex-direction: column;
   grid-area: sidenav;
   background-color: #25274d;
   float: right;
   position: relative;
   text-decoration: none;
}

.sidenav__list {
   padding: 0;
   margin-top: 85px;
   list-style-type: none;
   text-decoration: none;
}

.sidenav__list-item {
   padding: 20px 20px 20px 40px;
   color: #ddd;
   font-size: 1rem;
   text-decoration: none;
}

.sidenav__list-item:hover {
   background-color: rgba(255, 255, 255, 0.2);
   cursor: pointer;
   text-decoration: none;
}

.main-header__updates {
   text-align: left;
   justify-content: left;
   align-items: left;
}

.main-header {
   display: flex;
   justify-content: space-between;
   margin: 20px;
   padding: 20px;
   height: 175px; /* Force our height since we don't have actual content yet */
   background-color: white;
   color: slategray;
   box-shadow: 0 0.9px 1.2px rgba(0, 0, 0, 0.034),
      0 1.7px 2.3px rgba(0, 0, 0, 0.048), 0 1.5px 2px rgba(0, 0, 0, 0.06),
      0 1.3px 2.7px rgba(0, 0, 0, 0.052), 0 0.8px 2.5px rgba(0, 0, 0, 0.048),
      0 1px 2px rgba(0, 0, 0, 0.12);
   border-radius: 2px;
   text-align: left;
}

div.main-header__updates {
   background: whitesmoke;
   border-radius: 2px;
   padding: 8px;
}
div.main-header__heading {
   background: whitesmoke;
   border-radius: 2px;
   padding: 8px;
}
.card h2 {
   background: whitesmoke;
}

.main-overview {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
   grid-auto-rows: 95px;
   grid-gap: 20px;
   margin: 20px;
}

.formcontainer {
   box-shadow: 0 0.9px 1.2px rgba(0, 0, 0, 0.034),
      0 1.7px 2.3px rgba(0, 0, 0, 0.048), 0 1.5px 2px rgba(0, 0, 0, 0.06),
      0 1.3px 2.7px rgba(0, 0, 0, 0.052), 0 0.8px 2.5px rgba(0, 0, 0, 0.048),
      0 1px 2px rgba(0, 0, 0, 0.12);
}

.avatar {
   width: 11rem;
   opacity: 0.95;
   padding: 20px;
   border-radius: 4px;
   background: whitesmoke;
}
.card h1 {
   background: whitesmoke;
   border-radius: 2px;
}
.overviewcard {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: #d3d3;
}

.main-cards {
   column-count: 2;
   column-gap: 20px;
   margin: 20px;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   background-color: white;
   margin-bottom: 20px;
   -webkit-column-break-inside: avoid;
   padding: 24px;
   box-sizing: border-box;
   box-shadow: 0 0.9px 1.2px rgba(0, 0, 0, 0.034),
      0 1.7px 2.3px rgba(0, 0, 0, 0.048), 0 1.5px 2px rgba(0, 0, 0, 0.06),
      0 1.3px 2.7px rgba(0, 0, 0, 0.052), 0 0.8px 2.5px rgba(0, 0, 0, 0.048),
      0 1px 2px rgba(0, 0, 0, 0.12);
   border-radius: 2px;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
   height: 725px;
}

.card:nth-child(2) {
   height: 160px;
}

.card:nth-child(3) {
   height: 444px;
}

@media only screen and (max-width: 768px) {
   /* Show the sidenav off */
   .grid-container {
      display: flex;
      grid-template-areas: "sidenav main";
      grid-template-columns: 1fr 1fr;
      height: 200vh;
   }

   .avatar {
      display: none;
   }
   .sidenav {
      display: none;
      flex-direction: column;
   }
   .card:first-child {
      height: 725px;
      line-height: 1.5rem;
   }
   .card:first-child h1 {
      font-size: 1.5rem;
      line-height: 1.9rem;
   }

   .card:nth-child(2) {
      height: 160px;
      line-height: 1.9rem;
   }

   .card:nth-child(3) {
      height: 435px;
   }
}

@media only screen and (max-width: 993px) {
   /* Break out main cards into two columns */
   .main-cards {
      column-count: 2;
   }
}
