.reatime2 {
   width: 8rem;
   height: 8rem;
}

.grid-container {
   display: grid;
   grid-template-columns: 200px 1fr;
   grid-template-rows: 50px 1fr;
   grid-template-areas:
      "sidenav header"
      "sidenav main";

   height: 120vh;
}

/* Give every child element its grid name */

aside {
   float: right;
   position: relative;
   background-color: #25274d;
}

.sidenav {
   grid-area: sidenav;
   background-color: #25274d;
}

.main {
   grid-area: main;
   background-color: white;
}

.headertop {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px;
   background-color: whitesmoke;
   color: #444;
   justify-content: center;
   text-align: center;
}

.sidenav {
   display: block; /* Will be hidden on mobile */
   flex-direction: column;
   grid-area: sidenav;
   background-color: #25274d;
   float: right;
   position: relative;
   text-decoration: none;
}

.sidenav__list {
   padding: 0;
   margin-top: 85px;
   list-style-type: none;
   text-decoration: none;
}

.sidenav__list-item {
   padding: 20px 20px 20px 40px;
   color: #ddd;
   font-size: 1rem;
   text-decoration: none;
}

.sidenav__list-item:hover {
   background-color: rgba(255, 255, 255, 0.2);
   cursor: pointer;
   text-decoration: none;
}

.main-header {
   display: flex;
   justify-content: space-between;
   margin: 20px;
   padding: 20px;
   height: 160px; /* Force our height since we don't have actual content yet */
   background-color: whitesmoke;
   color: slategray;
}

.main-overview {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
   grid-auto-rows: 95px;
   grid-gap: 20px;
   margin: 20px;
}

.overviewcard {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: #d3d3;
}

.main-cards {
   column-count: 2;
   column-gap: 20px;
   margin: 20px;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   background-color: whitesmoke;
   margin-bottom: 20px;
   -webkit-column-break-inside: avoid;
   padding: 24px;
   box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
   height: 725px;
}

.card:nth-child(2) {
   height: 160px;
}

.card:nth-child(3) {
   height: 444px;
}

@media only screen and (max-width: 993px) {
   /* Show the sidenav off */
   .grid-container {
      display: flex;
      grid-template-areas: "sidenav main";
   }

   .sidenav {
      display: none;
      flex-direction: column;
   }
   .card:first-child {
      height: 715px;
      line-height: 1.5rem;
   }
   .card:first-child h1 {
      font-size: 1.5rem;
      line-height: 1.9rem;
   }

   .card:nth-child(2) {
      height: 170px;
   }

   .card:nth-child(3) {
      height: 444px;
   }
}

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
   /* Break out main cards into two columns */
   .main-cards {
      column-count: 2;
   }
}
