.uploadform {
   display: flex;
   flex-flow: column wrap;
   max-width: 500px;
   margin: 0 auto;
   background: whitesmoke;
   color: #222;
   border-radius: 4px;
   justify-content: center;
   font-family: "Roboto";
   justify-content: center;
   align-items: center;
   text-align: left;
   font-size: 1rem;
}

.uploadinput {
   width: 228px;
   background: #aaa;
   border-radius: 4px;
   justify-content: center;
   text-align: left;
   padding: 16px;
   margin: 11px;
   font-size: 1rem;
}
