body {
   text-align: left;
   display: flex;
   flex-flow: column wrap;
   margin: 0 auto;
   justify-content: center;
   font-family: "Roboto";
   width: 100%;
   height: 100%;
}

.header_dark {
   background: whitesmoke;
   color: #168995;
   box-shadow: none;
}

.start-main {
   margin: 11px;
}

.start-main a {
   color: white;
   font-size: 1rem;
   cursor: pointer;
   text-align: center;
   justify-content: center;
   align-items: center;
   text-decoration: none;
}

.start-main:hover {
   background: #25274d;
   color: #66fcf1;
}

.start {
   background: #25274d;
   color: #66fcf1;
   height: 20%;
   font-size: 1.4rem;
   padding: 11px;
   margin-top: 32px;
   border-radius: 8px;
   cursor: pointer;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.start a {
   color: #66fcf1;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   justify-content: center;
   align-items: center;
}

main {
   display: flex;
   flex-flow: column wrap;
   background: white;
   color: #333;
   text-align: left;
   justify-content: center;
   align-items: center;
   padding: 25px;
}

.about {
   display: flex;
   width: 55%;
   text-align: left;
   justify-content: center;
   align-items: center;
}

h2 {
   color: #168995;
   font-weight: 800;
   font-size: 2.4rem;
   text-align: center;
   margin-right: 25px;
   /*transition: all 1s ease-in;
   font-family: "Domine";*/
}

.section-main {
   background: white;
   color: #333;
   text-align: left;
   justify-content: center;
}

.section-main h1 {
   color: #444;
   text-align: center;
   justify-content: center;
}

section {
   background: white;
   color: #1f2833;
   text-align: left;
   justify-content: center;
}

section p {
   display: flex;
   width: 55%;
   text-align: left;
   justify-content: center;
   margin: 0 auto;
}

.avatars {
   max-width: 200px;
   max-height: 200px;
   display: flex;
   justify-content: center;
   border-radius: 8px;
   text-align: center;
   background: #222;
   opacity: 0.9;
   display: block;
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
}
/* 
footer {
   background: #25274d;
   color: #168995;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   justify-content: space-between;
   padding-top: 15px;
   z-index: 99;
} */

/* footer a {
   background: #25274d;
   color: #168995;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   padding: 0 20px 0 20px;
} */

.parallax {
   height: 240px;
   z-index: -1;
}

.google-btn {
   width: 210px;
   height: 42px;
   margin: 0 auto;
   background-color: #168995;
   border-radius: 2px;
   cursor: pointer;
}

.google-btn .google-icon-wrapper {
   position: absolute;
   margin-top: 1px;
   margin-left: 1px;
   width: 45px;
   height: 40px;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}

.google-btn .google-icon {
   position: absolute;
   margin-top: 11px;
   width: 17px;
   height: 20px;
}

.google-btn .btn-text {
   float: right;
   margin: 11px 11px 0 0;
   color: #fff;
   font-size: 14px;
   letter-spacing: 0.2px;
   font-family: "Roboto";
}

.github-btn {
   width: 210px;
   height: 42px;
   margin: 0 auto;
   background-color: #333;
   border-radius: 2px;
   cursor: pointer;
}

.github-btn .github-icon-wrapper {
   position: absolute;
   margin-top: 1px;
   margin-left: 1px;
   width: 45px;
   height: 40px;
   border-radius: 2px;
   background-color: #fff;
   cursor: pointer;
}

.github-btn .github-icon {
   position: absolute;
   margin-top: 11px;
   width: 17px;
   height: 20px;
}

.github-btn .btn-text {
   float: right;
   margin: 11px 11px 0 0;
   color: #fff;
   font-size: 14px;
   letter-spacing: 0.2px;
   font-family: "Roboto";
}

hr {
   width: 55%;
}

p {
   font-size: 1.35rem;
   font-weight: 450;
}

.imgcenter {
   border-radius: 8px;
}

.center {
   display: flex;
   justify-content: center;
   flex-flow: row;
   height: 16vh;
   background: #25274d;
   width: 100%;
   margin: 0 auto;
}

/* main button */
.container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 16vh;
   position: relative;
}

a {
   color: #444;
}

/* center gif */
section .user-flow {
   display: flex;
   width: 54%;
   justify-content: center;
   align-items: center;
   height: 54vh;
}

.gif-wrapper {
   display: flex;
   background: white;
   justify-content: center;
   align-items: center;
   width: 100%;
}

@media (max-width: 768px) {
   .parallax {
      display: none;
      z-index: 99;
   }

   section .start-main {
      display: block;
   }
   main .tagline {
      display: none;
   }
   section .tagline-3 {
      width: 90%;
      text-align: center;
      padding: 20px;
      flex-flow: column;
   }
   .about {
      text-align: left;
      width: 90%;
   }
   section p {
      width: 90%;
      text-align: left;
   }
   section .user-flow {
      width: 100%;
      justify-content: center;
      height: 44vh;
   }
   section .developers {
      width: 90%;
   }
   section .coder {
      width: 90%;
   }
   .subheader {
      display: none;
   }
   .dashboard h1 {
      width: 70%;
      text-align: left;
   }
   .boxedit {
      width: 70%;
      text-align: left;
   }
   main .darkMode {
      text-align: left;
   }
}

.menu {
   margin-top: 40px;
   color: #66fcf1;
   cursor: pointer;
}

.start:hover {
   background: #168995;
   color: white;
}

.developers {
   width: 45vh;
   height: 45vh;
}

.coder {
   width: 75vh;
   height: 58vh;
}

section .realtime {
   width: 31vh;
   height: 31vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

section .myapp {
   width: 31vh;
   height: 31vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
}

.terms {
   font-size: 0.9rem;
}

/* Google */
.loginBtn {
   box-sizing: border-box;
   position: relative;
   /* width: 13em;  - apply for fixed size */
   margin: 0.2em;
   padding: 0 15px 0 46px;
   border: none;
   text-align: left;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #fff;
}
.loginBtn:before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 34px;
   height: 100%;
}
.loginBtn:hover {
   cursor: pointer;
}
.loginBtn:focus {
   outline: none;
}
.loginBtn:active {
   box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
   font-family: "Roboto", arial, sans-serif;
   background: #dd4b39;
}
.loginBtn--google:before {
   border-right: #bb3f30 1px solid;
   background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
      7px 7px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
   background: #e74b37;
}
