.boxedit {
   display: flex;
   flex-flow: column wrap;
   background: whitesmoke;
   border-radius: 2px;
   color: #111;
   justify-content: left;
   align-items: left;
   text-align: left;
   line-height: 0.7rem;
   padding: 4px;
}

/* .dashboard {
   display: flex;
   justify-content: center;
   align-items: center;
   background: whitesmoke;
   border-radius: 2px;
   color: #111;
   text-align: left;
   width: 100%;
} */
/* Google */
.loginBtn {
   box-sizing: border-box;
   position: relative;
   /* width: 13em;  - apply for fixed size */
   margin: 0.2em;
   padding: 0 15px 0 46px;
   border: none;
   text-align: left;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #fff;
}
.loginBtn:before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 34px;
   height: 100%;
}
.loginBtn:hover {
   cursor: pointer;
}
.loginBtn:focus {
   outline: none;
}
.loginBtn:active {
   box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

.loginBtn--google {
   font-family: "Roboto", arial, sans-serif;
   background: #dd4b39;
}
.loginBtn--google:before {
   border-right: #bb3f30 1px solid;
   background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
      7px 7px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
   background: #e74b37;
}

.App_dark .edit {
   background: #aaa;
   color: #111;
   border-radius: 2px;
}
