.box {
   text-align: center;
   display: flex;
   flex-flow: column wrap;
   text-align: center;
   margin: 0 auto;
   justify-content: center;
   background-image: url("https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   /* Create the parallax scrolling */
   background-attachment: fixed;
   background-position: center;
   background-repeat: repeat;
   background-size: cover;
   padding: 2rem;
}

form {
   display: flex;
   flex-flow: column wrap;
   max-width: 500px;
   margin: 0 auto;
   background: #168995;
   color: white;
   border-radius: 4px;
   justify-content: center;
   font-family: "Roboto";
   justify-content: center;
   align-items: center;
   text-align: left;
   padding: 20px;
   font-size: 1rem;
}

input {
   width: 200px;
   background: #aaa;
   border-radius: 4px;
   justify-content: center;
   text-align: left;
   padding: 16px;
   margin: 11px;
   font-size: 1rem;
}

.box {
   background-color: rgba(41, 39, 39, 0.3);
   font-family: "Roboto", sans-serif;
   text-align: center;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   height: 100%;
   margin-bottom: 39vh;
}
